.page-container{
    text-align: center;
}

.contenedor-platillo {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 500px;
}

.carta {
    position: relative;
    background: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}