
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a routerLink="/welcome">
                    <span class="icon"><mat-icon>home</mat-icon></span>
                    <span class="title">Inicio</span>
                </a>
            </li>
            <!-- <li>
                <a routerLink="/ingredientes-populares">
                    <span class="icon"><mat-icon class="material-icons-outlined">egg</mat-icon></span>
                    <span class="title">Ingredientes Populares</span>
                </a>
            </li> -->
            <li>
                <a routerLink="/meals">
                    <span class="icon"><mat-icon class="material-icons-outlined">dinner_dining</mat-icon></span>
                    <span class="title">Platillos</span>
                </a>
            </li>
            <li>
                <a routerLink="/profile">
                    <span class="icon"><mat-icon class="material-icons-outlined">account_circle</mat-icon></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <mat-icon>menu</mat-icon>
        </div>
    </div>
</div>